<footer>

{% if paginator.total_pages > 1 %}    
  <div id="pager" style="margin-bottom: 40px">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pager-prev noselect">prev</a><span class="noselect"> &nbsp;  /  &nbsp; </span>
      {% endif %}
      {% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pager-next noselect">next</a>
      {% endif %}
    </div>
{% else %}
    <div style="margin-bottom: 40px">
    <a href="/" class="back-link">&#8617; back </a>
    </div>
{% endif %}
    
  <a href="/" class="footer-link noselect">kelly luo</a>
</footer>