{% if page.title %}
  {% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.title }}{% endcapture %}
{% endif %}

{% if page.name %}
  {% capture name %}{{ page.name }} | {{ site.name }}{% endcapture %}
{% else %}
  {% capture name %}{{ site.name }}{% endcapture %}
{% endif %}

{% if page.excerpt %}
  {% capture excerpt %}{{ page.excerpt | strip_html | truncate: 160 }}{% endcapture %}
{% else %}
  {% capture excerpt %}{{ site.description }}{% endcapture %}
{% endif %}

<head>
  <title>{{ page.title }} — {{ site.description }}</title>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
  <meta name="author" content="{{ site.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#f5f5f5">
    
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ page.title }} — a blog by kelly luo">
    
    <meta name="description" content="{{ excerpt }} ">
    <meta name="keywords" content="kelly luo, twitter">
    
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kellyluo.me/">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ excerpt }}">
    <meta property="og:image" content="https://blog.kellyluo.me/images/retrospect.jpg" href="/images/retrospect.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://kellyluo.me/">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="{{ excerpt }}">
    <meta property="twitter:image" content="https://blog.kellyluo.me/images/retrospect.jpg" href="/images/retrospect.jpg">
    
  <!-- ga -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173560135-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173560135-1');
    </script>

  <!-- CSS files -->
  <link rel="stylesheet" href="/css/main.css">
    
  <!-- favicon -->
  <link rel="favicon icon" href="/images/klcircle.png" />

  <!-- netlify identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
