{% assign author = site.owner %}

<div class="cover-card table-cell table-middle">
  <div class="sidebox">
  <div class="sideline">
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.description }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
        <span>/</span>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        {% unless forloop.last %}
          <span>/</span>
        {% endunless %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
    </div>
    </div>
</div>
