{% assign author = site.owner %}

<div class="cover-card table-cell">
  <a href="{{ site.url }}/" class="blog_name noselect">{{site.title}}</a>
  <a href="https://kellyluo.me/"><p class="blog_subheading noselect">a blog by kelly luo</p></a>

  <p class="blog_description">a collective recollection; writings and musings <br /> from past, present, and future. <br/> (re)established jan 2020.</p>
  
  <nav class="nav noselect">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/">home</a>
        </li>
         
        <li class="nav-item">
          <a href="/archive/">archive</a>
        </li>
          
        <li class="nav-item">
          <a href="/tags/">tags</a>
        </li>

        <li class="nav-item">
          <a href="http://kellyluo.me/">about me</a>
        </li>
      </ul>
    </nav>
  
</div>
