---
layout: home
---


{% for post in paginator.posts %}
<section class="post">
  <header class="post-header">
      
    <h1>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h1>
    
    </header>

    {% if post.excerpt %}
    <div class="post-description">
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}

    {% if post.excerpt != post.content %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">read more</a>
    {% endif %}


    {% if post.image.feature %}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">photo credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div>
    {% endif %}

  <p class="post-meta-container">
    <p class="post-meta">
      {% if post.categories.size > 0 %}
      {% for category in post.categories %}
        <a class="post-cat" href="{{ site.url }}/tags/#{{ category }}" title="{{ site.data.tags_all[category] }}">{{ category }}</a>
        {% unless forloop.last %}
        {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <p class="post-meta">
      <span class="post-date">
        —{{ post.date | date: "%B %-d %Y" }}
      </span>
    </p>
  </p>
    
</section>

{% endfor %}
